.task{
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button{
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.todo{
  background-color: rgb(237, 166, 166);
}

.doing{
  background-color: rgb(243, 216, 99);
}

.done{
  background-color: rgb(167, 229, 167);
}