body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: whitesmoke;
  height: 80vh;
  width: 80vw;
  margin: auto;
  border: solid 1px black;
  border-radius: 5px;
}

.task h2{
  text-align: center;
}

.todo{
  background-color: rgb(244, 169, 169);
}