body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: whitesmoke;
  height: 80vh;
  width: 80vw;
  margin: auto;
  border: solid 1px black;
  border-radius: 5px;
}

.task h2{
  text-align: center;
}

.todo{
  background-color: rgb(244, 169, 169);
}

.doing{
  background-color: rgb(250, 207, 128);
}

.done{
  background-color: rgb(157, 231, 157);
}

.task{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttons button{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.tasks{
  max-height: 400px;
  overflow-y: scroll;
}